body {
    font-family: sans-serif;
    font-size: 24px;
}

button {
    border: none;
    margin: 0px 3px;
    color: white;
    padding: 3px;
    font-size: 1em;
}

.material-icons {
    font-size: 1.2em!important;
}

.app-section {
    background: #dfdfdf;
    padding: 5px;
    margin: 4px 0px;
    box-shadow: 0px 1px 1px #afafaf;
}

.warning {
    background: #d70000;
}

.warning:hover {
    background: #ea4c4c;
}

.primary {
    background: #4a3df0;
    margin: 0px;
}

.primary:hover {
    background: #6358ef;
}

.list-item {
    background: #cfcfcf;
    padding: 3px;
    margin: 2px 0px;
    transition: background 0.3s;
}
.list-item:hover {
    background: #efefef;
    cursor: pointer;
}

.arrived {
    text-decoration: line-through;
}


.list-item h4,h5 {
    display: inline-block;
    margin: 0;
}